<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codejump.nomada" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Codejump" >
        <activity
            android:name="com.codejump.nomada.ui.activity.MainActivity"
            android:label="@string/title_sign_in" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codejump.nomada.ui.activity.CreateAccountActivity"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="com.codejump.nomada.ui.activity.SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name="com.codejump.nomada.ui.activity.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
